@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.todoApp{
    &__creator{
        width: 100%;
        background-color: map-get(vars.$bluesDark, "desaturated");
        height: 3rem;
        margin-top: 3rem;
        border-radius: .3rem;
        @include mixin.flex(start,center,row);
    }

    &__check{
        width: 4rem;
        height: 100%;
        @include mixin.flex(center,center,row);
    }

    &__checkMark{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 2px solid map-get(vars.$bluesDark, "grayishVeryDark2");
        cursor: pointer;
    }

    &__input{
        font-size: 1rem;
        width: 90%;
        border: none;
        outline: none;
        color: vars.$white;
    }
}