@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.todoApp{
   &__table{
      margin-top: 3rem;
      border-radius: .3rem;
      @include mixin.flex(center,center,column);
      background-color: map-get(vars.$bluesDark, "desaturated");
      padding: .04rem;
   }

   &__controls{
      @include mixin.flex(space-between,center,row);
      width: 100%;
      background-color: map-get(vars.$bluesDark, "desaturated");
      padding: .8rem .6rem;
   }

   &__options{
      @include mixin.flex(center,center,row);
   }

   &__count{
      color: map-get(vars.$bluesDark, "grayishDark");
      font-size: .8rem;
   }

   &__active{
      font-size: .8rem;
      color: map-get(vars.$bluesDark, "grayishDark");
      font-weight: 700;
      
      &:not(:first-child){
         margin-left: .5rem;
      }
   }
}