@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.todoApp{
   &__row{
      width: 100%;
      background-color: map-get(vars.$bluesDark, "desaturated");
      height: 3rem;
      color: map-get(vars.$bluesDark, "grayish");
      @include mixin.flex(start,center,row);
      border-bottom: 1px solid map-get(vars.$bluesDark, "grayishVeryDark");
   }
}